<section id="resume" class="cont-sec resume-sec">
  <div class="sec-title">
    <div class="container">
      <h2><%= current_page.data.resume.headline %></h2>
    </div>
  </div>
  <div class="container">
    <div class="cols">

      <!-- BIOGRAPHY -->
      <div class="col col-1-2">
        <h3>Biography</h3>
        <div>
          <% current_page.data.resume.biography.records.each do |biography| %>
          <div class="date"><%= biography[:between] %></div>
          <p>
            <%= biography[:overview][:headline] %><br>
            <%= biography[:overview][:content] %>
          </p>
          <div class="cols">
            <div class="col">
              <%= biography[:detail][:headline] %>
              <%= biography[:detail][:content] %>
            </div>
          </div>
          <% end %>
        </div>

        <h3>Machine Learning Competitions</h3>
        <div>
          <% current_page.data.resume.competitions.records.each do |competitions_k, competitions_v| %>
            <div class="date"><%= competitions_v[:headline] %></div>
            <% competitions_v.records.each do |competition| %>
            <p>
              <% competition.each do |line| %>
              <%= line %><br/>
              <% end %>
            </p>
            <% end %>
          <% end %>
        </div>

      </div>
      <!-- BIOGRAPHY -->

      <!-- PUBLICATIONS -->
      <div class="col col-1-2">
        <h3>Publication</h3>
        <% current_page.data.resume.publications.records.each do |publication_k, publication_v| %>
        <div class="date"><%= publication_v[:headline] %></div>
        <% publication_v.records.each do |paper| %>
        <p>
          <% paper.each do |line| %>
          <%= line %><br/>
          <% end %>
        </p>
        <% end %>
        <% end %>
      </div>
      <!-- /PUBLICATIONS -->

      
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="cols">
      <div class="col col-1-2">

        <h3>Reserch Interest</h3>

        <ul class="tools clearfix interest">
          <li>Machine Learning for NLP</li>
          <li>Machine Learning for ChemoInfomatics</li>
        </ul>
      </div>
      <div class="col col-1-2">
        <h3>Skills</h3>
        <ul class="tools clearfix skills">
          <li>Python</li>
          <li>Ruby</li>
          <li>Docker</li>
        </ul>
      </div>
    </div>
  </div>
</section>
