<!doctype html>
<html class="no-js">
  <%= partial "layouts/head" %>
  <body class="<%= page_classes %>">

    <div class="wrapper vcard">
      <%= partial "layouts/navbar" %>

      <div class="main">
        <%= partial "layouts/about" %>
        <%= partial "layouts/resume" %>
        <%= partial "layouts/contacts" %>
      </div>

    </div>
  </body>
  <%= partial "layouts/footer" %>
</html>
